@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
blockquote {
  font-family: 'DM Serif Display', serif;
}

h1, .h1 {
  font-size: 65px;
}

h2, .h2 {
  font-size: 45px;
}

img {
  max-width: 100%;
}

blockquote {
  font-size: 28px;
}

sup, .sup {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.underline::after {
  content: ' ';
  border-bottom: 3px solid;
  position: relative;
  display: block;
  width: 50px;
  padding-top: 1rem;
}

.toast {
  bottom: 1rem;
  right: 1rem;
}

.underline.text-center::after {
  margin-left: auto;
  margin-right: auto;
}

.section-inverse {
  margin-top: 180px;
  padding: 1px 0px;
}

.section-inverse > div {
  margin-top: -180px;
}

.card-footer {
  background-color: white;
  padding: 1rem 1rem;
}

.background-image {
  background-position: center center;
  background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  padding-right: 1rem;
  padding-left: 1rem;
}

.circle {
  border-radius: 500px;
}

header.p-section {
  padding: 160px 0px 120px;
}

.p-section {
  padding: 100px 0px;
}

.p-section-lg {
  padding: 160px 0px;
}

.container-lg {
  max-width: 900px;
}

.w-md {
  max-width: 600px;
}

.w-sm {
  max-width: 400px;
}

.btn {
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: .65rem 1.5rem;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .75rem 2rem;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .30rem .75rem;
}

.testimonial-item {
  max-width: 800px;
  padding: 40px;
}

.testimonial-item:nth-child(even) {
  margin-left: auto;
}

.testimonial-image {
  max-width: 100px;
  float: left;
  margin-right: 25px;
}

.marker-highlight {
  position: relative;
  display: inline-block;
}

.marker-highlight:before {
  content: "";
  background-color: #0b6efd87;
  width: 102%;
  height: 0.2em;
  position: absolute;
  z-index: -2;
  filter: url(#marker-shape);
  left: -0.05em;
  padding: 0 0.25em;
  bottom: 0.2em;
}
